h1 {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 10px blue, 10px 10px 10px red, 15px 15px 10px green;
  margin: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  border-radius: 5px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: 1s;
}


h1:hover {
  border-radius: 5px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: 1s;
}

img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.rotate {
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}