body {
    margin: 0px;
    padding-right: 0px;
    overflow: auto;
    overflow-x: hidden;
    box-sizing: border-box;

}

.jaydip {
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    text-align: left;
    border: 1px solid gray;
    width: 100%;
    letter-spacing: 5px;
    position: fixed;
    top: 0;
    margin-bottom: 0px;
    margin-top: 0px;
}

.footer {
    font-family: 'Times New Roman', Times, serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    text-align: center;
    border: 1px solid gray;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-bottom: 0px;

}

p {
    font-family: "Sofia", sans-serif;
    margin-left: 10px;
}
a.menu{
    padding: 5px;
    background-color: #555;
    height: 25px;
    border-radius: 5px;
}

:target {
    background-color: yellow;
    color: red;
    border-radius: 5px;
    padding: 1px;
}

a:link {
    color: #FF0000;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    background-color: lightblue;
    color: white;
    height: 25px;
}

a:active {
    color: #0000FF;
}

h1 {
    background-color: lightblue;
}

ul {

    height: 40px;
    width: 100%;
    margin-right: 1px;
    text-align: center;
    position: fixed;
    top: 8.50%;
    background-color: white;
    margin-top: 0px;
}

li {
    display: inline-flex;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 2px;
    width:fit-content !important;
}

.main {
    margin-top: 10% !important;
    margin-bottom: 5%;
    margin-right: 5px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    margin-bottom: 3%;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
.all-radius
{
    padding: 20px;
    width: 200px;
    height: 150px;
    background: #73AD21;
}
#rcorners1 {
    border-radius: 50px / 15px;
  }
  #rcorners2 {
    border-radius: 15px / 50px; 
  }
  #rcorners3 {
    border-radius: 50%;
  }
@media screen and (max-width: 500px) {
    .jaydip, .footer,.main,ul,li,.all-radius {
      width: 100%;
    }
  }